body {
  margin: 0;
  background-color: #c6cfe8;
}
.card {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  width: 575px;
  height: 385px;
  border: 5px solid #eee;
  border-radius: 25px;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 15px;
}

.score {
  color: #f94f6d;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  font-size: 90px;
  display: flex;
  justify-content: center;
  width: 155px;
  height: 120px;
  background-color: #080001;
}

.points {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

button {
  background-color: #1b244a;
  border: 1px solid #9aabd8;
  color: #9aabd8;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  font-family: "Pixelify Sans", sans-serif;
}

#reset {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9aabd8;
  color: #1b244a;
  width: 350px;
  box-shadow: 10px 10px 26px -14px rgba(0, 0, 0, 0.75);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
